/* Home.css */

.home-container {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  gap: 30px;
  font-family: "Lato", sans-serif, Arial, sans-serif;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.home-container button {
  width: 220px;
  padding: 15px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-container button:hover {
  background-color: #0056b3;
}

.home-container img {
  width: 10%;
  height: auto;
}

.botones button {
  margin: 20px;
}
